html{
background-color:rgb(14, 170, 146);
}
h1{
text-align: center;
font-family: 'Playfair Display', serif;
border: 5px solid grey;
}
p{
text-align: center;
font-family: 'Playfair Display', serif;
border: 10px solid rgb(12, 42, 214);
border-bottom-right-radius: 10000px;
border-bottom-left-radius: 10000px;
padding-bottom: 150px;
font-size: 45px;
}
