html{
background-color:rgb(14, 170, 146);
}
h1{
text-align: center;
font-family: 'Nosifer', cursive;
border: 5px solid grey;
}
p{
text-align: center;
font-family: 'Nosifer', cursive;
border: 10px solid rgb(12, 42, 214);
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
padding-bottom: 150px;
font-size: 45px;
}

button{
margin-left: 670px;
font-family: 'Nosifer', cursive;
border: 10px solid black;
color: black;
}
